NODE_ENV=development

API_PORT=3010
API_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres"
API_ALLOW_ORIGIN="http://127.0.0.1:5500,http://127.0.0.1:5501,http://localhost:3000,https://h8lwvw8x-3000.asse.devtunnels.ms"
API_DOMAIN="localhost"

API_BETTER_AUTH_SECRET="secretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecret"
API_BETTER_AUTH_URL="http://localhost:3010"

API_AUTH_MICROSOFT_CLIENT_ID=""
API_AUTH_MICROSOFT_CLIENT_SECRET=""
API_AUTH_MICROSOFT_TENANT_ID=""

API_LAUNCH_PERIOD_BYPASS="true"
API_LAUNCH_PERIOD_START="2026-06-10T00:00:00+07:00"

API_QUEST_1_PERIOD_BYPASS="true"
API_QUEST_2_PERIOD_BYPASS="true"
API_QUEST_3_PERIOD_BYPASS="true"
API_QUEST_1_PERIOD_START="2026-06-10T00:00:00+07:00"
API_QUEST_2_PERIOD_START="2026-06-15T00:00:00+07:00"
API_QUEST_3_PERIOD_START="2026-06-20T00:00:00+07:00"

API_S3_REGION="KEYES"
API_S3_ENDPOINT=""
API_S3_ACCESS_KEY=""
API_S3_SECRET_KEY=""
API_S3_BUCKET=""


API_EMAIL_HOST="smtp.gmail.com"
API_EMAIL_PORT="587"
API_EMAIL_USER="modcom10.kmutt@gmail.com" # A email of gmail (TUNGTUNGTUNGSAHUR@gmail.com)
API_EMAIL_PASS="" # Go to https://myaccount.google.com/apppasswords to get App Password
API_EMAIL_FROM="ModCom 10 <modcom10.kmutt@gmail.com>" # anything but with this format

NEXT_PUBLIC_MENTOR_BETTERAUTH_CALLBACK_URL="http://localhost:3005/profile"
NEXT_PUBLIC_MENTOR_BETTERAUTH_SERVER_URL="http://localhost:3010/api/auth"
NEXT_PUBLIC_BACKEND_BASE_URL="http://localhost:3010"
NEXT_PUBLIC_USE_MOCK="false"

NEXT_PUBLIC_BACKEND_URL="http://localhost:3010/api/auth"
NEXT_PUBLIC_SERVER_URL="http://localhost:3000"

NEXT_PUBLIC_MICROSOFT_CLARITY=""
NEXT_PUBLIC_GOOGLE_ANALYTICS=""

NEXT_PUBLIC_UMAMI_URL=""
NEXT_PUBLIC_UMAMI_WEBSITE_ID=""
NEXT_PUBLIC_MENTOR_UMAMI_WEBSITE_ID=""

CF_TUNNEL_TOKEN=""

API_ADMIN_SUPERUSER_ID="68070501007,68070503423,68070501045"

API_REDIS_CONNECTION_URL="redis://localhost:6379"