NODE_ENV=development

API_PORT=3010
API_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres"
API_ALLOW_ORIGIN="http://127.0.0.1:5500,http://127.0.0.1:5501,http://localhost:3000,https://h8lwvw8x-3000.asse.devtunnels.ms"
API_DOMAIN="localhost"

API_BETTER_AUTH_SECRET="secretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecret"
API_BETTER_AUTH_URL="http://localhost:3010"

API_AUTH_MICROSOFT_CLIENT_ID=""
API_AUTH_MICROSOFT_CLIENT_SECRET=""
API_AUTH_MICROSOFT_TENANT_ID=""

API_LAUNCH_PERIOD_BYPASS="true"
API_LAUNCH_PERIOD_START="2026-06-10T00:00:00+07:00"

API_QUEST_1_PERIOD_BYPASS="true"
API_QUEST_2_PERIOD_BYPASS="true"
API_QUEST_3_PERIOD_BYPASS="true"
API_QUEST_1_PERIOD_START="2026-06-10T00:00:00+07:00"
API_QUEST_2_PERIOD_START="2026-06-15T00:00:00+07:00"
API_QUEST_3_PERIOD_START="2026-06-20T00:00:00+07:00"

API_S3_REGION="KEYES"
API_S3_ENDPOINT=""
API_S3_ACCESS_KEY=""
API_S3_SECRET_KEY=""
API_S3_BUCKET=""